# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

require {
        type gstreamer_lib_t;
        type unconfined_t;
        class file { getattr map open read execute };
}

#============= unconfined_t ==============
allow unconfined_t gstreamer_lib_t:file { getattr map open read execute };
