# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(coqos_virtio, 1.0.0)

########################################
#
# Declarations
#

type coqos_virtio_video_t;
type coqos_virtio_video_exec_t;
type qcom_etc_t;

require {
    type default_context_t;
    type default_t;
    type devlog_t;
    type user_runtime_root_t;
    type sysadm_t;
    type var_log_t;
    type user_tty_device_t;
    type var_run_t;
    type user_runtime_t;
    type systemd_sessions_var_run_t;
    type initrc_var_run_t;
    type initrc_tmp_t;
    type etc_t;
    type syslogd_t;
    type tty_device_t;
    type locale_t;
    type var_spool_t;
    type syslogd_var_run_t;
    type systemd_logind_t;
    type system_dbusd_t;
    type selinux_config_t;
    type system_dbusd_var_run_t;
    type wtmp_t;
    type security_t;
    type sysctl_kernel_t;
    type tmpfs_t;
    type lastlog_t;
    type event_device_t;
    type init_var_run_t;
    type sysctl_t;
    type sysctl_vm_overcommit_t;
    type sysctl_vm_t;
    type debugfs_t;
    type fonts_t;
    type dri_device_t;
    type fs_t;
    type mnt_t;
    type proc_t;
    type sysfs_t;
    type udev_var_run_t;
    type urandom_device_t;
    type usr_t;
    type var_t;
    type xkb_var_lib_t;
    type device_t;
    type tmp_t;
    type unlabeled_t;
    type dri_device_t;
    type user_tmp_t;
    type user_tmpfs_t;
    type gstreamer_lib_t;
    type gstreamer_etc_t;
    type gstreamer_exec_t;
    type v4l_device_t;
    class dbus send_msg;
    class fd use;
    class file { getattr map open read };
    class fifo_file { read write };
    class process { getsched setsched signal };
    class sock_file { create setattr write unlink };
    class unix_dgram_socket { connect create sendto write };
    class unix_stream_socket connectto;
}

init_daemon_domain(coqos_virtio_video_t, coqos_virtio_video_exec_t)

#============= coqos_virtio_video_t ==============

allow coqos_virtio_video_t debugfs_t:dir search;
allow coqos_virtio_video_t default_t:dir { add_name create getattr remove_name search write };
allow coqos_virtio_video_t default_t:file { create getattr map open read rename write lock unlink ioctl };
allow coqos_virtio_video_t device_t:chr_file { ioctl open read write map };
allow coqos_virtio_video_t device_t:sock_file write;
allow coqos_virtio_video_t device_t:dir { add_name remove_name write };
allow coqos_virtio_video_t devlog_t:sock_file write;
allow coqos_virtio_video_t dri_device_t:chr_file { ioctl open read write };
allow coqos_virtio_video_t etc_t:file { getattr open read map };
allow coqos_virtio_video_t etc_t:lnk_file read;
allow coqos_virtio_video_t fs_t:filesystem getattr;
allow coqos_virtio_video_t gstreamer_etc_t:file { getattr open read };
allow coqos_virtio_video_t gstreamer_exec_t:file execute_no_trans;
allow coqos_virtio_video_t gstreamer_exec_t:file { execute getattr map open read };
allow coqos_virtio_video_t gstreamer_lib_t:file { execute getattr map open read };
allow coqos_virtio_video_t initrc_tmp_t:dir search;
allow coqos_virtio_video_t initrc_tmp_t:file { getattr open read };
allow coqos_virtio_video_t initrc_t:unix_stream_socket connectto;
allow coqos_virtio_video_t init_var_run_t:dir search;
allow coqos_virtio_video_t init_var_run_t:file { getattr open read };
allow coqos_virtio_video_t locale_t:dir search;
allow coqos_virtio_video_t locale_t:file { getattr open read };
allow coqos_virtio_video_t proc_t:file { getattr open read };
allow coqos_virtio_video_t self:fifo_file { getattr ioctl read write };
allow coqos_virtio_video_t self:netlink_kobject_uevent_socket { bind create getattr setopt };
allow coqos_virtio_video_t self:process { signal setcap setexec setkeycreate setsched getsched };
allow coqos_virtio_video_t self:unix_dgram_socket { connect create write };
allow coqos_virtio_video_t selinux_config_t:dir search;
allow coqos_virtio_video_t selinux_config_t:file { getattr open read };
allow coqos_virtio_video_t sysadm_t:fd use;
allow coqos_virtio_video_t sysadm_t:unix_stream_socket connectto;
allow coqos_virtio_video_t sysadm_t:key create;
allow coqos_virtio_video_t sysadm_t:process { noatsecure rlimitinh siginh signal transition };
allow coqos_virtio_video_t sysctl_t:dir search;
allow coqos_virtio_video_t sysctl_vm_overcommit_t:file { open read };
allow coqos_virtio_video_t sysctl_vm_t:dir search;
allow coqos_virtio_video_t sysfs_t:dir read;
allow coqos_virtio_video_t sysfs_t:file { getattr open read write };
allow coqos_virtio_video_t sysfs_t:lnk_file { getattr read };
allow coqos_virtio_video_t syslogd_t:unix_dgram_socket sendto;
allow coqos_virtio_video_t syslogd_var_run_t:dir search;
allow coqos_virtio_video_t security_t:dir search;
allow coqos_virtio_video_t security_t:file { map open read write };
allow coqos_virtio_video_t security_t:filesystem getattr;
allow coqos_virtio_video_t security_t:security { check_context compute_relabel compute_user };
allow coqos_virtio_video_t tmpfs_t:dir { getattr open read };
allow coqos_virtio_video_t tmpfs_t:file { getattr map read write };
allow coqos_virtio_video_t tmp_t:dir search;
allow coqos_virtio_video_t tmp_t:sock_file write;
allow coqos_virtio_video_t tmp_t:dir { add_name search write };
allow coqos_virtio_video_t tmp_t:file { append create getattr open };
allow coqos_virtio_video_t udev_var_run_t:dir search;
allow coqos_virtio_video_t udev_var_run_t:file { getattr open read };
allow coqos_virtio_video_t unlabeled_t:dir { add_name getattr read remove_name search write };
allow coqos_virtio_video_t unlabeled_t:file { create getattr map open read rename unlink write };
allow coqos_virtio_video_t user_runtime_root_t:dir { getattr search };
allow coqos_virtio_video_t user_runtime_t:dir { add_name remove_name search write getattr };
allow coqos_virtio_video_t user_runtime_t:file { create lock map open read unlink write };
allow coqos_virtio_video_t user_runtime_t:sock_file { create unlink write };
allow coqos_virtio_video_t urandom_device_t:chr_file { open read };
allow coqos_virtio_video_t user_tmpfs_t:file { getattr map read write };
allow coqos_virtio_video_t user_tmp_t:dir { getattr search open read rmdir };
allow coqos_virtio_video_t user_tmp_t:sock_file write;
allow coqos_virtio_video_t user_tmp_t:file unlink;
allow coqos_virtio_video_t user_tmp_t:sock_file { getattr unlink write };
allow coqos_virtio_video_t usr_t:file { getattr open read };
allow coqos_virtio_video_t usr_t:dir read;
allow coqos_virtio_video_t v4l_device_t:chr_file { getattr ioctl open read write };
allow coqos_virtio_video_t var_log_t:dir search;
allow coqos_virtio_video_t var_log_t:lnk_file read;
allow coqos_virtio_video_t var_log_t:file { getattr write };
allow coqos_virtio_video_t var_t:dir { add_name remove_name write };
allow coqos_virtio_video_t var_t:file { create getattr link lock map open read rename unlink write };
allow coqos_virtio_video_t var_run_t:dir { write add_name };
allow coqos_virtio_video_t var_run_t:file { create append open getattr };
allow coqos_virtio_video_t default_context_t:dir search;
allow coqos_virtio_video_t default_context_t:file { getattr open read };
allow coqos_virtio_video_t event_device_t:chr_file { getattr ioctl open read write };
allow coqos_virtio_video_t mnt_t:dir search;
allow coqos_virtio_video_t self:capability { mknod net_admin setgid setuid sys_admin sys_nice sys_tty_config };
allow coqos_virtio_video_t self:unix_stream_socket { accept connectto listen };
allow coqos_virtio_video_t sysctl_kernel_t:dir search;
allow coqos_virtio_video_t sysctl_kernel_t:file { open read };
allow coqos_virtio_video_t system_dbusd_t:unix_stream_socket connectto;
allow coqos_virtio_video_t system_dbusd_t:dbus send_msg;
allow coqos_virtio_video_t system_dbusd_var_run_t:dir search;
allow coqos_virtio_video_t system_dbusd_var_run_t:sock_file write;
allow coqos_virtio_video_t systemd_logind_t:fd use;
allow coqos_virtio_video_t systemd_logind_t:dbus send_msg;
allow coqos_virtio_video_t systemd_sessions_var_run_t:fifo_file write;
allow coqos_virtio_video_t tty_device_t:chr_file { getattr ioctl open read write relabelfrom relabelto };
allow coqos_virtio_video_t user_tty_device_t:chr_file { ioctl relabelfrom relabelto };
allow coqos_virtio_video_t var_spool_t:dir search;
allow coqos_virtio_video_t qcom_etc_t:file { getattr open read };
